body {
	background-color: #f0f0f0;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	color: #222222;
	margin: 0;
	padding: 0;
}
#leftbar {
	width: 100%;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 220px;
}
#rightbar {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 200px;
	height: 100%;
	background-color: #e0e0e0;
}
h1 {
	color: #000000;
}
h2 {
	margin-bottom: 0;
	padding-bottom: 0;
}
h3 {
	margin-top: 0;
	padding-top: 0;
	font-size: 1em;
}