<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/MyCraft-Update-News/css/main.css" type="text/css" />
</head>
<body>

<!-- Using ugly tables because Java is terrible at rendering HTML -->
<table class="content" width="100%">
<tr>
<td class="leftbar" valign="top">
  {{ content }}
</td>
<td class="rightbar" width="180px" valign="top">
<h2>Links</h2>
<a href="http://frustra.org/mycraft">MyCraft Homepage</a>
</td>
</tr>
</table>

</body>
</html>
